<h2>Login</h2>
<%= form_tag "/login", method: :post do %>
  <div class="form-group container">
    Username: <input type="username" name="username">
  </div>
  <div class="form-group container">
    Password: <input type="password" name="password">
  </div>
  <input class="col-md-2 btn-primary single-button" type="submit" value="Log In">
<% end %>