<h2>Create an Account!</h2>

<div class='Form'>
<%= form_tag '/users', method: :post do %>
  <p><label>Username: </label><input type="text" name="username"></p>
  <p><label>First Name: </label><input type="text" name="first_name"></p>
  <p><label>Last Name: </label><input type="text" name="last_name"></p>
  <!-- <p><label>Zip Code: </label><input type="text" name="zip_code" placeholder="for movies near you"></p> -->
  <p><label>Password: </label><input type="password" name="password"></p>
  <p><label>Confirm Password: </label><input type="password" name="password_confirmation"></p>
  <button name="submit" value="submit">Create Account</button>
<% end %>
</div>