<div class="NavBar text-center">
  <span><button name="wishlist" type='submit'><a href="/wishlist_movies">Wishlist Movies</a></button></span>
  <span><button name="watched" type='submit'><a href="/watched_movies">Watched Movies</a></button></span>
  <span><button type='submit'><a href="/watched_movies/new">Add Watched Movie</a></button></span>
  <button class='buttons' type='submit'><a href="/wishlist_movies/new">Add Wishlist Movie</a></button>
</div>