// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  margin: 20px;
  background-color: #e4dee5
}

.movie-show {
  margin-left: 20px;
  margin-bottom: 20px;
}