// Place all the styles related to the watched_movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: #68b0cc;
  margin-left: 20px;
}

p span 
{
  display: block;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
  .custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
  .custom-combobox-input {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
}
